.home {
  background-color: rgba(236, 236, 206, 0.753);
  width: 80%;
  height: 700px;
  margin-left: 10%;
  margin-top: 10px;
}
.home-bg {
  width: 1100px;
}

.htxt > h2 {
  font-size: 60px;
  text-align: center;
  padding: 30px;
  margin-left: 150px;
  line-height: 80px;
}
span {
  color: rgb(55, 117, 55);
  font-size: 70px;
  font-weight: bolder;
}

.hbreak {
  padding: 10px;
  background-color: green;
  margin: 30px;
  width: 500px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 2px 5px rgb(186, 236, 109);

  margin-left: 60px;
}
.hbreak > p {
  font-size: 20px;
  text-align: center;
  color: white;
}

.hpic {
  background-image: url(./components/Images/home1.png);
  width: 200px;
  height: 150px;
  background-position: center;
  background-position: 100%;
  background-size: cover;
}
.hpic {
  position: absolute;
  top: 10%;
  left: 15%;
}
.hpic1 {
  background-image: url(./components/Images/home2.png);
  width: 550px;
  height: 750px;
  background-position: center;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 20%;
  left: 63%;
}
.hbreak:hover {
  border: 5px solid green;
  cursor: pointer;
  background-color: greenyellow;
  box-shadow: 2px 2px 2px 5px rgb(46, 104, 46);
}
.hbreak > p:hover {
  color: black;
}
.container {
  width: 100%;
  margin: 0 auto;

  list-style: none;
  padding: 0;
}

.slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100vh;
}

.slide span {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  background: rgba(141, 174, 224, 0.5);
  text-align: center;
}
.fiber {
  display: flex;
  margin-top: 9%;
}
.fiber-box1 {
  background-color: rgba(236, 236, 206, 0.753);
  height: 100vh;
  width: 100%;
  text-align: right;
}
.fiber-box1 h1 {
  font-size: 80px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  padding: 10px;
  margin-top: 20%;
}
.fiber-box1 p {
  font-size: 24px;
  width: 450px;
  text-align: center;
  float: right;
  line-height: 40px;
  padding: 20px;
}
.fiber-box2 {
  background-color: rgb(182, 223, 72);
  height: 100vh;
  width: 100%;
}
.fiber-box2 h1 {
  font-size: 80px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  padding: 10px;
  color: white;
  margin-top: 20%;
}
.fiber-box2 p {
  font-size: 24px;
  width: 450px;
  text-align: center;
  float: left;
  line-height: 40px;
  padding: 20px;
  color: white;
}
.fiber-img {
  background-image: url(./components/Images/home3.png);
  width: 350px;
  height: 300px;
  background-position: center;
  background-size: 100% 100%;
}
.fiber-img1 {
  background-image: url(./components/Images/home3.png);
  width: 350px;
  height: 300px;
  background-position: center;
  background-size: 100% 100%;
  margin-left: 52%;
  margin-top: 2%;
}
.health
{
  background-color: #86cadb;
  width:100%;
  height: 100vh;
  margin-top:1%;
}
.health-b
{
  display:flex;
}
.health-b1{

  background-color: #e982aa;
  width:800px;
  height:100vh;
}
.health-b2{

  background-image: url(./components/Images/home4.jpg);
  width:600px;
  height:100vh;
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  margin-left:42%;
}
.health-b1 p
{
  color:white;
  width:500px;
  margin-top:10%;
  margin-left: 10%;
  font-size:25px;
  line-height:40px;
}
.health-b1 h1
{
  color:white;
  margin-top: 10%;
  margin-left:12%;
  font-size: 70px;
  
}


.protein {
  width: 100%;
  height: 100vh;
  margin-top: 20px;
  background-color: rgba(247, 253, 158, 0.986);
}
.protein-box {
  background-color: rgba(215, 236, 24, 0.986);
  width: 750px;
  height: 100px;
  position: absolute;
  margin-top: 10%;
}
.protein-pic1 {
  background-image: url(./components/Images/home5.jpg);
  background-position: center;
  background-size: 100% 100%;
  width: 300px;
  height: 450px;
  margin-left: 3%;
  margin-top: 15%;
}
.protein-pic2 {
  background-image: url(./components/Images/home6.jpg);
  background-position: center;
  background-size: 100% 100%;
  width: 300px;
  height: 450px;
  margin-left: 3%;
  margin-top: 15%;
}
.protein-pic {
  display: flex;
}
.protein-box h1 {
  text-align: center;
  color: black;
  margin-top: 15px;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
}
.protein-txt {
  width: 700px;
  height: 350px;
  background-color: rgb(235, 238, 39);
  margin-left: 8%;
  margin-top: 16%;
  border-radius: 20px 20px 20px 20px;
}
.protein-txt p {
  padding: 8px;
  font-size: 20px;
  width: 600px;
  margin-left: 5%;
  margin-top: 2%;
}

.diets {
  margin-top: 20px;
  background-color: gray;
  width: 100%;
  height: 100vh;
}
.fad {
  background-color: red;
  width: 800px;
  height: 200px;
  margin-left: 20%;
}
.fad-piz {
  background-image: url(./components/Images/home7.jpg);
  background-position: center;
  background-size: 100% 100%;
  width: 600px;
  height: 600px;
  position: absolute;
  margin-top: 50px;
  margin-left: 5%;
}
.fad-box {
  background-color: rgb(251, 251, 251);
  position: absolute;
  margin-top: 4%;
  margin-left: 38%;
  width: 500px;
  height: 500px;
}
.fad-box h1 {
  text-align: center;
  padding: 10px;
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
}
.fad-box p {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
.veg {
  background-color: rgb(171, 214, 106);
  width: 100%;
  height: 94vh;
  margin-top: 10px;
}
.veg-out1 {
  background-image: url(./components/Images/home8.jpg);
  background-position: center;
  background-size: 100% 100%;
  width: 400px;
  height: 600px;
  margin-left: 20%;
  position: absolute;
  margin-top: 2%;
}
.veg-out {
  display: flex;
}
.veg-out h1 {
  margin-top: 18%;
  margin-left: 2%;
  font-size: 70px;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  color: rgb(10, 10, 10);
}
.text-veg {
  margin-left: 33%;
  width: 700px;
  margin-top: 8%;
}
.text-veg p {
  font-size: 21px;
}
.veg-img {
  background-image: url(./components/Images/home9.jpg);
  background-position: center;
  background-size: 100% 100%;
  width: 310px;
  height: 220px;
  margin-top: 5%;
}
.workout {
  background-image: url(./components/Images/home10.jpg);
  width: 100%;
  height: 90vh;
  background-position: center;
  background-size: 100% 100%;
}
.workout-1 {
  width: 500px;
  height: 640px;
  border: 3px solid black;
  color: black;
  margin-left: 10%;
  margin-top: 8%;
}
.workout-1 h1 {
  padding: 10px;
  text-align: center;
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
}
.workout-1 p {
  padding: 15px;
  font-size: 20px;
}

.lift {
  background-image: url(./components/Images/home11.jpg);
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  margin-top: 10px;
}
.lift h1 {
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 70px;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
}
.lift-block {
  background-color: rgba(12, 12, 12, 0.842);
  width: 260px;
  height: 330px;
  margin-top: 10px;
  padding: 10px;
}
.lift-block1 {
  display: flex;
  margin-left: 23%;
  margin-top: 5%;
}
.lift-b {
  margin-left: 20px;
}
.lift-block p {
  font-size: 20px;
  padding: 10px;
  color: white;
  text-align: center;
}
.lift-block2 {
  background-color: rgba(255, 255, 255, 0.89);
  width: 260px;
  height: 330px;
  margin-top: 10px;
  padding: 10px;
}
.lift-block2 p {
  font-size: 25px;
  padding: 10px;
  text-align: center;
}

.about {
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
  width: 100%;
  height: 50vh;
}
.about-x {
  text-align: center;
  color: rgb(8, 8, 8);
}
.about-x h1 {
  padding: 20px;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
}
.about-x p {
  font-size: 18px;
}
.about-block {
  display: flex;
}
.about-box {
  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
  padding: 10px;

  height: 400px;
  margin-left: 9%;
}
.about-box1 {
  padding: 10px;
}
.about-img {
  background-image: url(./components/Images/about2.jpg);
  width: 200px;
  height: 190px;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 50%;
  margin-left: 10%;
}
.about-txt {
  width: 300px;
  height: 400px;
}
.about-txt h1 {
  padding: 10px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.about-txt p {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}
.about-img1 {
  background-image: url(./components/Images/about3.jpg);
  width: 200px;
  height: 190px;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 50%;
  margin-left: 10%;
}
.about-img2 {
  background-image: url(./components/Images/about4.jpg);
  width: 200px;
  height: 190px;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 50%;
  margin-left: 10%;
}
.about-last {
  display: flex;
  margin-top: 6%;
}
.about-1 {
  background-image: url(./components/Images/about1.jpg);
  width: 100%;
  height: 530px;
  background-position: center;
  background-size: 100% 100%;
}
.about-2 {
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
  width: 150%;
  padding: 20px;
}
.about-2 h1 {
  text-align: center;
  font-size: 50px;
  width: 700px;
  margin-left: 10%;
  font-family: "Times New Roman", Times, serif;
}
.about-2 p {
  text-align: center;
  font-size: 20px;
  margin-top: 3%;
}
.contact {
  background-image: url(./components/Images/contact1.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  display: flex;
}
.box {
  position: absolute;
  background-color: white;
  width: 250px;
  height: 200px;
  margin-left: 30%;
  margin-top: 18%;
  border-radius: 20px 20px 20px 20px;
  border: 10px solid black;
}
.box1 {
  position: absolute;
  background-color: black;
  width: 250px;
  height: 200px;
  margin-left: 50%;
  margin-top: 18%;
  border-radius: 20px 20px 20px 20px;
  border: 10px solid white;
}
.box1 h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 2px;
}
.box2 h1 {
  font-size: 30px;
  text-align: center;
  padding: 2px;
}
.box h1 {
  font-size: 30px;
  text-align: center;
  padding: 2px;
}
.box p {
  text-align: center;
  padding: 2px;
  font-size: 20px;
}
.box2 p {
  text-align: center;
  padding: 2px;
  font-size: 20px;
}
.box1 p {
  text-align: center;
  padding: 2px;
  font-size: 20px;
  color: white;
}
.box2 {
  position: absolute;
  background-color: white;
  width: 250px;
  height: 200px;
  margin-left: 70%;
  margin-top: 18%;
  border-radius: 20px 20px 20px 20px;
  border: 10px solid black;
}
.img-c {
  background-image: url(./components/Images/contact4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 50px;
  height: 50px;
  margin-left: 35%;
}
.img-b {
  background-image: url(./components/Images/contact3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 100px;
  height: 70px;
  margin-left: 30%;
}
.img-a {
  background-image: url(./components/Images/contact2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 50px;
  height: 50px;
  margin-left: 35%;
}
